body {
font-family: sans-serif;
margin: 0;
padding: 0;
background: url("Diseño\ sin\ título\ \(1\)\ \(1\).png") no-repeat center center fixed;
background-size: cover;
font-family: sans-serif;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center ;
}

.hero {
padding: 100px 20px;
color: white;
}

#inicio {
    min-height: 100vh;
    text-align: center;
    color: #F5A627;
    font-family: "Neonderthaw", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0px;
}

.p{
    font-size: 30px;
    margin-top: 0px;
    font-weight: 200px;
}

.logo{
font-family: "Oi", serif;
font-weight: 400;
font-style: normal;
}

.nav{
    padding: 5px;
    min-width: 55px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
}

.nav__list{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__items{
    display: inline-flex;
    margin-left: 20px;
    text-align: center;
}

h2{
    font-family: "Neonderthaw", cursive;
    font-size: 30px;
}

.block__text{
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 20px 20px 20px #00000068;
    background-color: #F8E963;
    margin: 30px;
}

.nav__link{
    display: block;
    align-content: center;
    text-decoration: none;
    font-family: "Neonderthaw", cursive;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    background-color: #F8E963;
    color: #6372F8;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #00000068;
    transition: background-color 1s, transform 2s, box-shadow 1s, color 1s;
}

.nav__link:hover{
    background-color: #F89F63;
    color: #F8E963;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
